@model dynamic

<html>
<head>
     @Include("~/templates/pdf/print-style.css")
	 <style>
		.tbl-class-footer {
				text-align: left; font-family: Arial; font-size: 10px; width: 650px;
			}
		.sign-area1 {
			font-size: 12pt; 
			margin-top:80px; margin-bottom: 40px;
		}
		.customer-code
		{
			font-size:14pt;
			padding-top : 10px;
		}
		.header-lbl{
			width : 150px
		}
	 </style>
</head>
<body>	
	@Include("~/templates/pdf/header-template.cshtml")
	
	<table class="tbl-class header-margin" border="0" cellpadding="1" cellspacing="1">
        <tr>
            <td colspan="6">
				<div>
					<h2>OPERATION CHECKLIST</h2>
				</div>
            </td>
        </tr>
	</table>
	
    <table class="tbl-class" border="0">
        <tr>
            <td colspan="2" class="content-left header-lbl headerlbl">
                VESSEL NAME:
            </td>
            <td colspan="5" class="content-left headervalue">
                <b>@Model.Checklist.VesselName</b>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="content-left header-lbl headerlbl">
                DEPARTMENT:
            </td>
            <td colspan="5" class="content-left headervalue">
                <b>@Model.Checklist.ProvisionType</b>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="content-left header-lbl headerlbl">
                SALES ORDER NO:
            </td>
            <td colspan="5" class="content-left headervalue">
                <b>@Model.Checklist.SalesOrderIdentifier</b>
            </td>
        </tr>
    </table>    
  
     <table class="tbl-class content-margin repeat-header tbl-lines" border="0" cellpadding="10" cellspacing="1">
        <thead>
			<tr>
				<th class="content-center td-content">
					<b>S.NO</b>
				</th>
				<th class="content-center td-content">
					<b>DESCRIPTION</b>
				</th>
				<th class="content-center td-content">
					<b>PLT NO</b>
				</th>
				<th class="content-center td-content">
					<b>UNIT</b>
				</th>
				<th class="content-center td-content">
					<b>QUANTITY</b>
				</th>
				<th class="content-center td-content">
					<b>PRICE</b>
				</th>
				<th class="content-center td-content">
					<b>TOTAL</b>
				</th>
				<th class="content-center td-content">
					<b>REMARKS</b>
				</th>
				<th class="content-center td-content">
					<b>SUPPLIER</b>
				</th>
			</tr>
		</thead>
        <tbody>
            @foreach (var item in Model.Checklist.Lines)
            {                        
                <tr>
					<td class="td-content">
						@item.SNo
					</td>
					<td class="td-content content-left">
						@item.Description
					</td>
					<td class="td-content">
						
					</td>
					<td class="td-content">
						@item.Unit
					</td>
					<td class="td-content content-right">
						@item.Quantity.ToString("0.00")
					</td>
					<td class="td-content content-right">
					   @item.SellingPrice.ToString("0.00")
					</td>
					<td class="td-content content-right">
					   @item.TotalPrice.ToString("0.00")
					</td>
					<td class="td-content content-left">
						@item.Remarks
					</td>
					<td class="td-content content-left">
						@item.SupplierName
					</td>
				</tr>			
            }
        </tbody>
    </table>

    <table class="tbl-class tbl-footer" border="0" cellpadding="8" cellspacing="1">	
		<tr>					
			<td colspan="10" class="content-right footer-lbl">
				Total in SGD
			</td>
			<td colspan="2" class="content-right footer-value">
				<b>@Model.Checklist.TotalPrice.ToString("0.00")</b>
			</td>			
		</tr>		
	</table>     
</body>
</html>
