@model dynamic

<html>
<head>
     @Include("~/templates/pdf/print-style.css")
</head>
<body>	
	@Include("~/templates/pdf/header-template.cshtml")

      <table class="tbl-class header-margin" border="0" cellpadding="1" cellspacing="1">
        <tr>
            <td colspan="6" class="td-content">
				<div>
					<h2>Purchase Order</h2>
				</div>
            </td>
        </tr>
	</table>

      <table class="tbl-class tbl-header" border="0" cellpadding="7" cellspacing="1">
          <tr>
              <td class="content-left headerlbl"> Date:</td>
              <td colspan="5" class="content-left headervalue">
                  @if (Model.PurchaseOrder.ModifiedDate != null)
                  {
                      <b>@Model.PurchaseOrder.ModifiedDate.ToString("dd-MMM-yyyy")</b>
                  }
              </td>
          </tr>
          <tr>
              <td class="content-left headerlbl"> PO Identifier: </td>
              <td colspan="5" class="content-left headervalue"> <b>@Model.PurchaseOrder.PurchaseOrderIdentifier</b> </td>
          </tr>
          <tr>
              <td class="content-left headerlbl"> Supplier: </td>
              <td colspan="5" class="content-left headervalue"> <b>@Model.PurchaseOrder.SupplierName</b> </td>
          </tr>
          <tr>
              <td class="content-left headerlbl"> Item Count: </td>
              <td colspan="5" class="content-left headervalue"> <b> @Model.PurchaseOrder.LineCount</b> </td>
          </tr>
          <tr>
              <td class="content-left headerlbl"> REF: </td>
              <td colspan="5" class="content-left headervalue"> <b> @Model.PurchaseOrder.SalesOrderIdentifier </b> </td>
          </tr>
          <tr>
              <td class="content-left headerlbl"> Remarks: </td>
              <td colspan="5" class="content-left headervalue"> <b> @Model.PurchaseOrder.Remarks</b> </td>
          </tr>
          <tr>
              <td class="content-left headerlbl"> Instruction: </td>
              <td colspan="5" class="content-left headervalue"> <b> @Model.PurchaseOrder.DeliveryInstruction </b> </td>
          </tr>
          <tr>
              <td class="content-left headerlbl"><h3>Marking Ref:</h3></td>
              <td colspan="5" class="content-left headervalue"> <h3> @Model.PurchaseOrder.VesselCode </h3></td>
          </tr>
          @if (!String.IsNullOrEmpty(Model.PurchaseOrder.Agent))
          {
              <tr>
                  <td class="content-left headerlbl">Agent:</td>
                  <td colspan="5" class="content-left headervalue">  <b>@Model.PurchaseOrder.Agent </b> </td>
              </tr>
          }
          @if (!String.IsNullOrEmpty(Model.PurchaseOrder.Place))
          {
              <tr>
                  <td class="content-left headerlbl">Place:</td>
                  <td colspan="5" class="content-left headervalue"> <b>@Model.PurchaseOrder.Place</b></td>
              </tr>
          }
      </table>
    <table class="tbl-class content-margin repeat-header tbl-lines"
        border="0" cellpadding="10" cellspacing="1">
        <thead>
			<tr>
				<th class="td-content">
					<b>S.NO</b>
				</th>				
				<th class="td-content">
					<b>DESCRIPTION</b>
				</th>
				<th class="td-content">
					<b>UNIT</b>
				</th>
				<th class="td-content">
					<b>QTY</b>
				</th>
				<th class="td-content">
					<b>BUYING</b>
				</th>
				<th class="td-content">
					<b>TOTAL</b>
				</th>
                <th class="td-content">
					<b>REMARKS</b>
				</th>
			</tr>
		</thead>
        <tbody>            
            @foreach (var item in Model.PurchaseOrder.PmPurchaseOrderLines)
            {
                if (item.IsIncluded)
                {
                        <tr>
					        <td class="td-content">
						        @item.SNo
					        </td>
					        <td class="td-content content-left">
						        @item.Description
                            </td>
					        <td class="td-content">
						        @item.Unit
					        </td>
					        <td class="td-content content-right">
						        @item.Quantity.ToString("0.00")
					        </td>
					        <td class="td-content content-right">
					           @item.BuyingPrice.ToString("0.00")
					        </td>
					        <td class="td-content content-right">
					           @item.TotalPrice.ToString("0.00")
					        </td>
                            <td class="td-content content-left">
					           @item.Remarks
					        </td>                                                
				        </tr>
                }                
            }
        </tbody>            
    </table>
    <table class="tbl-class tbl-footer" border="0" cellpadding="8" cellspacing="1">	
		<tr>					
			<td colspan="10" class="content-right footer-lbl">
				Total in SGD
			</td>
			<td colspan="2" class="content-right footer-value">
				<b>@Model.PurchaseOrder.TotalPrice.ToString("0.00")</b>
			</td>			
		</tr>
    </table>
    @Include("~/templates/pdf/userinfo-template.cshtml")
</body>
</html>
