@model dynamic

<div>
	<div class="div-userinfo">Incharge : </div>					
	<div class="div-userinfo">@Model.UserInfo.PersonIncharge</div>		
	<div class="div-userinfo">@Model.UserInfo.Role</div>		
	<div class="div-userinfo">@Model.UserInfo.Email</div>			
</div>					 
<div>
	<div class="div-label">Phone : </div>		
	<div class="div-value">@Model.UserInfo.Phone</div>		
</div>	
<div>
	<div class="div-label">Mobile : </div>
	<div class="div-value">@Model.UserInfo.Mobile</div>		
</div>	
<div>
	<div class="div-label">Fax : </div>
	<div class="div-value">@Model.UserInfo.Fax</div>		
</div>	
